<extend name="Common@Manage:main"/>

<block name="content">

    <blockquote class="layui-elem-quote">
        Manage
    </blockquote>

    <div class="layui-card">
        <div class="layui-card-header">开发日志</div>
        <div class="layui-card-body">
            <ul class="layui-timeline">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">7月26日</h3>
                        <ul>
                            <li>完善案例数据模块</li>
                            <li>新增案例数据接口</li>
                            <li>新增案例数据分类供前端页面筛选</li>
                            <li>关联案例数据和分类之间的关系</li>
                            <li>成功案例模块要移除,从CRM中调数据,不在本项目中开发</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">7月25日</h3>
                        <ul>
                            <li>调整CRM</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">7月20日</h3>
                        <ul>
                            <li>新增口碑数据接口</li>
                            <li>新增口碑点赞功能接口</li>
                            <li>隐藏数据列表中的ID列数据</li>
                            <li>口碑的图片上传添加缩略图功能</li>
                            <li class="layui-bg-red">新增成功案例模块 - 未完待续 (只是基本的增删改查,筛选条件+数据分类+数据关联关系还未开始)</li>
                            <li class="layui-bg-red">新增案例数据模块 - 未完待续 (只是基本的增删改查,筛选条件+数据分类+数据关联关系还未开始)</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">7月19日</h3>
                        <ul>
                            <li>测试+调试权限</li>
                            <li>调整无限极树形结构的样式</li>
                            <li>角色绑定权限独立,且修改为API形式请求</li>
                            <li>规整基础代码并打包以保证代码的复用性</li>
                            <li>新增口碑模块</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">7月18日</h3>
                        <p>调整样式,编写需要的接口,并为几个模块关联关系,添加整站权限判断</p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">7月17日</h3>
                        <p>编写角色,权限和基本配置模块,完善左侧动态导航</p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">7月16日</h3>
                        <p>编写用户模块功能,登录页面模板以及密码验证规则等</p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">7月13日</h3>
                        <p>选定其他页面元素,并开始基础功能的<em>表设计</em>工作,如:</p>
                        <ul>
                            <li>用户表</li>
                            <li>角色表</li>
                            <li>权限表</li>
                            <li>关联表 等其他基础数据表</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">7月12日</h3>
                        <p>
                            后台框架和界面大体风格已确定,准备开始其他页面元素的探索. <i class="layui-icon"></i>
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <div class="layui-timeline-title">过去</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</block>